!!! XML
!!!

%html
  %head
    %title My Awesome Blog
  %body
    .top_nav
      - form_tag(search_path, :method => :get) do
        %label
          Search:
          = text_field_tag(:q, params[:q])
    .content
      = yield
